@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>Skriv in en FamliyGuy karaktär</h2>
    <form asp-controller="Family" asp-action="React">
        <input type="text" name="guy"/>
        <input type="submit"/>
    </form>
    

</div>
